@keyframes appaear {
    0% {
        color: #00000000;
    }

    50% {
        color: #000000;
    }

    100% {
        color: #000000;
    }
}

@keyframes disappaear {
    0% {
        color: #000000;
    }

    100% {
        color: #00000000;
    }
}

body {
    background: linear-gradient(45deg, #5a4d00, #00115e, #880000);
    height: 97.4vh;
    font-family: 'Heveltica', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

table {
    margin: 2vh 0;
    table-layout: auto;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    padding: 0px 10px;
    text-align: center;
}

button {
    background-color: #002ab4;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
}

#container {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    width: 35%;
    height: 85%;
    box-shadow: 5px 5px 6px;
}

.result {
    font-size: 7vh;
}

.lose {
    font-size: 7vh;
    color: red;
}

.win {
    font-size: 7vh;
    color: green;
}

#res {
    margin: 15px;
}

.appaear {
    animation-name: appaear;
    animation-duration: 2s;
}

@media (max-width: 603px) {
    body {
        height: 99vh;
    }

    #container {
        width: 80%;
        height: 99%;
    }

    #res {
        margin: 2vh 0%;
    }

    table {
        margin: 2vh 0;
        text-align: center;
    }

    th,
    td {
        padding: 0px 0px;
        text-align: center;
        font-size: 0.8em;
    }
}